[Desktop Entry]
Encoding=UTF-8
Name=Verknüpfung mit Vorschau für Anhang "Norton - Kaiserslautern Oct 2019.pdf" ansehenNorton - Kaiserslautern Oct 2019.pdf4.4 MB
Type=Link
URL=https://mail.google.com/mail/u/0?ui=2&ik=8fbcf5fafb&attid=0.5&permmsgid=msg-a:r2510405961457028850&th=16dd0070295041cf&view=att&disp=inline&realattid=f_k1rzojtb3
Icon=text-html
